.jumbotron .container{
    text-align: center;
    color:black;
    font-family: fantasy;
    font-size: larger;
   
}
 .menu h1{
     color: blue;
    text-align: center;
   font-size: x-large;
   font-family: fantasy;
    
}

 

body{
    background-image: url(../images/image14.jpg);
    background-repeat: no-repeat;
    background-position: cover;


}
.container{
    color:black;
    text-align: center;
     font-family: fantasy;
     font-size: xx-large;
}
.container p{
    font-size: small;
}
.orderhere{
    text-align: center;
    color:blue;
    font-family: fantasy;
}
.order-button{
    text-align: center;
}
.mouse {
    animation: bounce 2s infinite;
  
  }
  
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-55px);
    }
    60% {
      transform: translateY(-45px);
    }
  }
  #amount{
    margin-top: 40px;
    margin-left: 500px;
    float: inherit;
    width:30%;
    background-color: white;
  }
  #submit-pizza {
    float: right;
    margin-right: 600px;
    color:white;
  }
  #container{
    max-width: 100%;
  }
  #price-content {
    text-align: center;
    color:blue;
}
#order-details {
  border: 2px solid black;
  margin-left: 300px;
  margin-right: 300px;
  padding-top: 10px;
  padding-right: 50px;
  border-style: block;
  color:blue;
}

#order-details>h5, h5 {
    font-family: 'Kaushan Script', cursive;
}
.site{
  color: black;
  display: -ms-flexbox;
}

